# Programming_Assignment4

In [27]:
# Write a Python Program to Find the Factorial of a Number?

def fact(a):
    if type(a) == int:
        fact = 1
        i = 1
        while i <= a:
            fact = fact*i
            i = i+1

    else:
        fact = "invalid input provided"
    
    print("Factorial of the given number is: ")
    return fact

In [10]:
fact(3)

Factorial of the given number is:

6

In [12]:
fact("u")

Factorial of the given number is:

'invalid input provided'

In [13]:
fact(2/3)

Factorial of the given number is:

'invalid input provided'

In [14]:
fact(2.3)

Factorial of the given number is:

'invalid input provided'

In [15]:
fact(0)

Factorial of the given number is:

1

In [19]:
# Write a Python Program to Display the multiplication Table?

def mtable(a):
    if type(a) == int:
        for i in range(1,11):
            b = a*i
            print(a,"x",i,"=",b,"\n")
            
    else:
        print("Enter a valid input")

In [20]:
mtable(2)

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

In [21]:
mtable(8.9)

Enter a valid input

In [22]:
mtable(89)

89 x 1 = 89

89 x 2 = 178

89 x 3 = 267

89 x 4 = 356

89 x 5 = 445

89 x 6 = 534

89 x 7 = 623

89 x 8 = 712

89 x 9 = 801

89 x 10 = 890

In [23]:
mtable(-87)

-87 x 1 = -87

-87 x 2 = -174

-87 x 3 = -261

-87 x 4 = -348

-87 x 5 = -435

-87 x 6 = -522

-87 x 7 = -609

-87 x 8 = -696

-87 x 9 = -783

-87 x 10 = -870

In [24]:
mtable(True)

Enter a valid input

In [25]:
mtable("test")

Enter a valid input

In [80]:
# Write a Python Program to Print the Fibonacci sequence?

def fibsq(a):
    if type(a) == int:

        if a >= 0:
            b = 0
            c = []
            for i in range(0,a):
                if i <= 1:
                    c.append(i)

                else:
                    c.append(c[i-2] + c[i-1])

            
    else:
        c = "enter a valid input"
        
    return (c)

In [81]:
fibsq(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [82]:
fibsq(25)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368]

In [83]:
fibsq("ui")

'enter a valid input'

In [84]:
fibsq(2.325)

'enter a valid input'

In [181]:
# Write a Python Program to Check Armstrong Number?

# Armstrong number = sum of cubes of its digits

def armsno(n):
    if type(n) == int and n >= 0:
        m = list(str(n))

        m2 = 0
        for i in range(len(m)):
            
            m2 = m2 + int(m[i])**3
        
        if m2 == n:
            m3 = " is an armstrong number!"
            
        else:
            m3 = " is not an armstrong number!"
            
    else:
        m3 = ' is not a valid input!'
        
    print(n, m3)

In [182]:
armsno(235)

235  is not an armstrong number!

In [183]:
armsno(153)

153  is an armstrong number!

In [184]:
armsno(370)

370  is an armstrong number!

In [185]:
armsno("uyu")

uyu  is not a valid input!

In [243]:
# Write a Python Program to Find Armstrong Number in an Interval?

def armsno1(n):
    if type(n) == int and n >= 0:
        m = list(str(n))

        m2 = 0
        for i in range(len(m)):
            
            m2 = m2 + int(m[i])**3
            
    else:
        return "enter a valid input!"
        
    return(bool(m2 == n))

In [249]:
def f_armsno(a):
    if type(a) == int and a >= 0:
        for j in range(a+1):
            if armsno1(j) == True:
                print(j)
                
    else:
        return "enter a valid input!"

In [250]:
armsno1(153)

True

In [251]:
f_armsno(153)

0
1
153

In [253]:
f_armsno(500)

0
1
153
370
371
407

In [224]:
armsno1(256)

False

In [199]:
f_armsno(999)

0
1
153
370
371
407

In [254]:
# Write a Python Program to Find the Sum of Natural Numbers?

def sumnatno(n):
    a = 0
    if type(n) == int and n > 0:
        for k in range(n+1):
            a = a + k
            
    return(a)

In [255]:
sumnatno(3)

6